<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
  <header th:replace="plantilla :: header"></header>
  <h2 th:text="#{boton.newUser}"></h2>
  <br>
  <form th:action="@{/saveuser}" method="post" th:object="${users}">
      <label for="username">[[#{cliente.agregar.nombre}]]:</label>
      <input type="text" name="username" th:field="*{username}">
      <br>
      <label for="password">[[#{user.contraseña}]]:</label>
      <input type="password" name="password" th:field="*{password}">
      <br>
      <input type="submit" name="guardar" th:value="#{boton.guardar}">
  </form>
</body>
</html>