<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ListClients</title>
</head>
<body>
<section th:fragment="buttonsListClients" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3" sec:authorize="hasRole('ROLE_USER')">
                <a th:href="@{/mostrarClientes}" class="btn btn-primary btn-block">
                    <i class="fas fa-user-check"></i>[[#{cliente.registro}]]
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>