<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>ButtonsAddR</title>
</head>
<body>
<section th:fragment="buttonsAddR" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3" sec:authorize="hasRole('ROLE_USER')">
        <a th:href="@{/agregarReservacion}" class="btn btn-primary btn-block">
          <i class="fas fa-plus"></i>[[#{reservacion.agregar}]]
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>