<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla :: head">
    <meta charset="UTF-8">
    <title>Renta de autos</title>
</head>
<body>

    <header th:replace="plantilla :: header"></header>
    <section th:replace="buttonsAdd :: buttonsAdd"></section>
    <section th:replace="buttonsAddR :: buttonsAddR"></section>
    <section th:replace="buttonsListClients :: buttonsListClients"></section>
    <section th:replace="buttonsListReservations :: buttonsListReservations"></section>
    <section th:replace="listVehicles :: listVehicles"></section>

    <footer th:replace="plantilla :: footer"></footer>

</body>
</html>