<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <meta charset="UTF-8">
    <title>Datos del cliente</title>
</head>
<body>
    <header th:replace="plantilla :: header"></header>
    <h2 th:text="#{cliente.titulo}"></h2>

    <form th:action="@{/guardarCliente}" method="post" th:object="${client}">
        <input type="hidden" name="idClient" th:field="*{idClient}">
        <br/>
        <label for="nameClient" th:text="#{cliente.agregar.nombre}">:</label>
        <input type="text" name="nameClient" th:field="*{nameClient}">
        <span th:if="${#fields.hasErrors('nameClient')}" th:errors="*{nameClient}">Error</span>
        <br/>
        <label for="lastName" th:text="#{cliente.agregar.apellido}">:</label>
        <input type="text" name="lastName" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</span>
        <br/>
        <label for="phone" th:text="#{cliente.agregar.telefono}">:</label>
        <input type="tel" name="phone" th:field="*{phone}">
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Error</span>
        <br/>
        <input type="submit" name="guardar" th:value="#{boton.guardar}">
    </form>
    <footer th:replace="plantilla :: footer"></footer>
</body>
</html>