<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del cliente</title>
</head>
<body>
    <header th:replace="plantilla :: header"></header>
    <h2 th:text="#{cliente.titulo}"></h2>
    <a th:href="@{/}">[[#{boton.regresar}]]</a>

    <form th:action="@{/guardarCliente}" method="post" th:object="${client}">
        <input type="hidden" name="idClient" th:field="*{idClient}">
        <br/>
        <label for="nameClient" th:text="#{cliente.agregar.nombre}">:</label>
        <input type="text" name="nameClient" th:field="*{nameClient}">
        <br/>
        <label for="lastName" th:text="#{cliente.agregar.apellido}">:</label>
        <input type="text" name="lastName" th:field="*{lastName}">
        <br/>
        <label for="phone" th:text="#{cliente.agregar.telefono}">:</label>
        <input type="text" name="phone" th:field="*{phone}">
        <br/>
        <input type="submit" name="guardar" th:value="#{boton.guardar}">
    </form>
    <footer th:replace="plantilla :: footer"></footer>
</body>
</html>